h1{
    text-align: center;
    color: blue;

}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    font-size: 18px ;


}

body{background-color: darkolivegreen;


}